/* some style */

h1, h2 {
	color: #4e8fbb;
}

article {
	padding: 0 0.5em 1em 0.5em;
	min-height: 20em;
	border: 4px ridge rgb(127,127,127);
}
article#\:done {
	width: 100%;
	background-color: #99ff99;
	
}
article#\:dropped {
	width: 100%;
	background-color: #ff9999;
	color: "white";
}
article#\:doing {
	width: 38%;
}

article#\:on-hold {
	width: 62%;
}
article#\:on-deck {
	width: 100%;
} 
article#\:logback {
	width: 100%;
} 
article#\:request {
	width: 62%; 
	background-color: #ffff99;
} 
article#\:denied {
	width: 38%;
	background-color: #ff9999;
}

article#\:denied h1,
article#\:dropped h1 {
	color: white;
}

.counter {
	font-size: 62%;
	padding-left: 10px;
	padding-right:10px;	
	vertical-align: top;
}

.counter:before {
	content: '(';
}

.counter:after {
	content: ')';
}

ul.stuff {
	margin: 0;
	padding: 0;
	background: none;
	text-align: center;
}

ul.stuff li {
	list-style: none;
	margin: 0.4em;
	padding: 0.5em;
	float: left;
	width: 7.5em;
	height: 7.5em;
	background-color: #ffc;
	color:blue;
	font-family:"Reenie Beanie", arial, sans-serif;
	font-size: 22px;
	box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.38), inset -11px -7px 40px rgba(0, 0, 0, 0.14);
	z-index: 0;
}

ul.stuff .title {
	font-size: 114%;
	text-decoration: underline;
}

.allowdrop {
	background-color: rgba(127,255,127,0.38);
	border: 4px dotted green;
}
